* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inputContainer {
  background-color: #cfebff;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  height: 50%;
  width: 30%;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.7rem;
}
#btn {
  height: 50%;
  width: 5%;
  background-color: #ffbe91;
  border: none;
  border-radius: 10px;
  outline: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.5rem;
  color: white;
  margin-left: 10px;
}
.taskContainer {
  background-color: #ffddb0;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.task {
  height: 10%;
  width: 50%;
  background-color: #fffce1;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
