* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border {
  border: 1px solid red;
}
.backgroundImageContainer {
  background-image: url("./bgimage2.jpg");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gradientContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.8965) 8.5%,
    rgba(0, 0, 0, 0.8861) 17%,
    rgba(0, 0, 0, 0.8688) 25.5%,
    rgba(0, 0, 0, 0.8444) 34%,
    rgba(0, 0, 0, 0.8132) 42.5%,
    rgba(0, 0, 0, 0.775) 51%,
    rgba(0, 0, 0, 0.7368) 59.5%,
    rgba(0, 0, 0, 0.7056) 68%,
    rgba(0, 0, 0, 0.6813) 76.5%,
    rgba(0, 0, 0, 0.6639) 85%,
    rgba(0, 0, 0, 0.6535) 93.5%,
    rgba(0, 0, 0, 0.65) 102%
  );
  z-index: 10;
}

.content {
  height: 100%;
  width: 100%;

  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navRoot {
  margin-top: 5px;
  width: 70%;
  height: 10%;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 15%;
  height: 100%;
  display: flex;

  justify-content: flex-end;
}
.svgLogo {
  color: rgb(229, 9, 20);
  fill: currentColor;
}
.siginAndLanguage {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.langaugeButton {
  padding: 4px;
  width: 55%;
  border: 1px solid rgb(168, 164, 164);
  background-color: black;
  font-size: 0.5rem;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2px;
  outline: 0.5px solid white;
}
.siginButton {
  padding: 2px;
  width: 35%;
  height: 40%;
  font-size: 0.5rem;
  color: white;
  background-color: rgb(229, 9, 20);
  border-radius: 2px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.mainContent {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHeading {
  font-size: 2.5rem;
  font-weight: 900;
}
.subheading {
  font-size: 1rem;
  margin-bottom: 10px;
}
.tertiaryHeading {
  font-size: 0.6rem;
}
.EmailAndButtonContainer {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  width: 110%;
}
.EmailAndButtonContainer > input {
  border: 0.5px solid white;
  border-radius: 2px;
  background-color: rgb(0, 0, 0, 0.9);
  font-size: 0.8rem;
  padding: 4px;
  width: 60%;
  height: 35px;
  outline: none;
  color: white;
  padding-left: 10px;
}

.getStartedButton {
  width: 30%;
  height: 35px;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 2px;
  background-color: rgb(229, 9, 20);
}

.trendingNow {
  background-color: black;
  height: 50vh;
  width: 100vw;
  border-top: 2px solid rgb(229, 9, 20);
  border-radius: 50% / 10%;
  box-shadow: inset 2px 35px 15px -25px #121b40;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies > p {
  color: white;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 8%;
}
.movies {
  height: 70%;
  width: 80%;
}
.allMovies {
  height: 90%;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.movieCard {
  height: 100%;
  width: 15%;
  background-image: url(https://occ-0-4344-2164.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaBljvFdAV1SGGPNXCcLpojtQjNb4MKKevyP-yHCBfzIW1zsZ-8lMn0-MwNMua8X5VZ0yjjzrfAZ4QFqxDdAIcVxsnTAtj2JNIUSZt5IEgJ15eSk4YSmd0XZk0PBW_XNHsbL.webp?r=1c2);
  background-position: center;
  background-repeat: none;
  background-size: contain;
  position: relative;
}
.movieCard > span {
  position: absolute;
  bottom: 0;
  left: -14px;
  font-size: 4rem;
  color: black;
  font-weight: 900;
  text-shadow:
    -1px -1px white,
    -1px -1px white,
    -1px -1px white;
}
.infocard {
  height: 100%;
  width: 15%;
  background-image: linear-gradient(
    to right bottom,
    #021127,
    #0a1b43,
    #28205c,
    #4d1e70,
    #77097c
  );
}
.MoreReasons{
   background-color: black;
  height: 50vh;
  width: 100vw;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.greyBox{
  height: 25px;
  width: 100%;
  background-color: grey;
}
.greyBox:hover{
   background-color: rgb(57, 53, 53);
   margin-bottom: 30px;
}